@tailwind base;
@tailwind components;
@tailwind utilities;

.tw__build {
  @apply duration-300 min-w-60 justify-evenly;
}
.min-w-sm {
  @apply min-w-60;
}
@font-face {
  font-family: 'Tahoma';
  src: url('./assets/tahoma.ttf');
}

@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("./assets/Geist-Light.woff2") format("woff2");
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("./assets/Geist-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("./assets/Geist-Medium.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("./assets/Geist-SemiBold.woff2") format("woff2");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("./assets/Geist-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Giest", sans-serif;
}

* {
  color-scheme: dark;
}

.card {
  @apply shadow min-w-[270px]  w-fit h-fit z-10 bg-mantle/80 !rounded-lg mb-1 p-3 hover:bg-surface0 duration-[250ms] hover:shadow-lg hover:ring-2 ring-blue-600 active:ring-4 active:ring-blue-500 active:duration-100 cursor-pointer;
}
.card:hover {
  transform: scale(1.056);
  z-index: 20;
  @apply shadow-lg shadow-black/50;
}
.min-size-inc:hover {
  transform: scale(1.033);
  z-index: 20;
  @apply shadow-lg shadow-black/50;
}
.card:active {
  transform: scale(1);
  z-index: 20;
  @apply shadow-lg shadow-black/50;
}
.card:hover img {
  border-radius: 8px !important;
  transition: all 0.3s !important;
}
.card img {
  transition: all 0.3s !important;
}
.grid {
  @apply grid-cols-2 grid-rows-4 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4;
}
@keyframes dropd {
  from {
    display: hidden;
    max-height: 0px;
    overflow-y: hidden;
  }
  1% {
    display: flex;
  }
  33% {
    overflow-y: auto;
  }
  to {
    max-height: 400px;
    overflow-y: auto;
  }
}
.pfpico {
  @apply active:ring-4 active:ring-surface1 active:duration-100 flex align-middle my-auto ml-auto float-right duration-300 ring-surface0 hover:ring-4 w-10 h-10 !rounded-full;
}
.anim__dropdown {
  display: hidden;
  overflow-y: hidden;
  animation: dropd 0.66s ease-in forwards;
  max-height: 0px;
}
.active-dropdown-color {
  @apply bg-mauve/40 hover:bg-mauve/60 hover:text-text/80;
}
.reg-dropdown-color {
  @apply hover:bg-black/20;
}
.dropdown {
  @apply pb-2 pt-2 absolute bg-mantle rounded-t-none rounded-lg shadow w-fit;
  position: fixed !important;
  top:62px !important;
  margin-left:auto !important;
  right:1px !important;
  transform: none !important;
  overflow:hidden !important
}
.if-section {
  @apply rounded-lg bg-black/20 p-2;
}
.backdrop {
  @apply bg-[url('assets/bg.webp')];
  background-size: cover;
  background-repeat: no-repeat;
}
overlay {
  @apply backdrop-brightness-50 w-full h-full fixed left-0 top-0;
}
.theme-light-ctp {
  @apply latte;
}
.theme-frapp-ctp {
  @apply frappe;
}
.theme-macch-ctp {
  @apply macchiato;
}
.theme-mocha-ctp {
  @apply mocha;
}
.theme-btn-base {
  @apply ring-black/25 ring-1 hover:ring-[3px] duration-300 hover:mx-[4px] cursor-pointer active:ring-black/70 active:duration-[50ms];
}
.theme-btn-active {
  @apply !ring-base/75 hover:!ring-surface0 active:!ring-overlay0 !ring-[3px];
}

/* Additional styles for the checkbox */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggle-switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1f1f2f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #4f4faf;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input[type="checkbox"]:checked + .slider {
  background-color: #2f2f4f;
}

input[type="checkbox"]:focus + .slider {
  box-shadow: 0 0 1px #2f2f5f;
}

input[type="checkbox"]:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.horrible * {
  padding: 4px;
  color: red;
  font-family: "Comic Sans", "Wingdings", serif;
  font-size: 20px;
  overflow: auto;
  min-width: 2px;
  max-width: 508px !important;
  animation: horrible 0.25s infinite alternate-reverse;
}
.horrible body {
  max-width: 1000px !important;
}
.horrible img {
  width: 30px !important;
  background: yellow;
}
.horrible card {
  z-index: -32767;
  background: red;
  position: relative;
  bottom: -50px;
}
.horrible input {
  padding: 24px;
  background: yellow;
}
.horrible nav {
  background: red;
  background-image: url("https://b.incognitotgt.me/12x12is24.gif");
}
.horrible overlay {
  background-image: url("https://b.incognitotgt.me/12x12is24.gif") !important;
  backdrop-filter: none;
  background-size: fit;
}
.horrible div {
  opacity: 0.9;
}
@keyframes horrible {
  from {
    color: green;
  }
  to {
    color: yellow;
  }
}

input,
.input {
  @apply border-none rounded-lg bg-surface0 font-mono px-2 focus:bg-surface1 hover:bg-surface1 active:bg-surface1 active:ring-2 ring-surface2 hover:ring-1 duration-[250ms] py-0.5;
}
body,
.body {
  @apply bg-base flex flex-col min-h-screen text-text font-sans backdrop-blur-md backdrop-brightness-75;
  @apply bg-[url('assets/bg.webp')];
  background-size: cover;
  background-repeat: no-repeat;
}
.dialog {
  @apply bg-mantle/80 p-4 mx-auto my-auto rounded-md ring-1 ring-blue/50  hover:ring-2 hover:bg-mantle duration-300 shadow-inner shadow-black/30 px-8;
}
.successCaptcha {
  @apply px-3 py-1 mx-auto text-center bg-black/20 rounded-lg text-green;
}

kbd {
  @apply rounded-lg ring-1 ring-mantle p-0.5 bg-crust text-sm hover:ring-surface1 px-1 duration-200;
}
.usrField .usrRequire {
  display: none;
  max-width: 400px;
  @apply text-sm;
}
.usrField:hover .usrRequire {
  display: block;
  max-width: 400px;
  @apply text-sm;
}
.pswField .pswRequire {
  display: none;
  max-width: 400px;
  @apply text-sm;
}
.pswField:hover .pswRequire {
  display: block;
  max-width: 400px;
  @apply text-sm;
}
.authPrimary {
  @apply disabled:bg-slate-800 disabled:text-white !text-xl disabled:hover:text-gray-600 disabled:hover:bg-slate-950 disabled:cursor-not-allowed !w-full block  rounded-lg rounded-r-none bg-blue-800 hover:bg-blue-500 duration-[375ms] px-5 py-2 !text-white;
}
.authSecondary {
  @apply text-white w-full block !text-xl   rounded-lg rounded-l-none bg-blue-900 hover:bg-blue-600 duration-[375ms] px-5 py-2;
}
.errCTA1 {
  @apply rounded-r-none block text-2xl rounded-lg bg-surface2 hover:bg-blue duration-[375ms] px-3 py-2 hover:text-mantle;
}
.errCTA2 {
  @apply block text-2xl bg-surface1 hover:bg-lavender duration-[375ms] px-3 py-2 hover:text-mantle;
}
.errCTA3 {
  @apply block text-2xl rounded-lg rounded-l-none bg-base hover:bg-sapphire duration-[375ms] px-3 py-2 hover:text-mantle;
}
.authOverlay {
  @apply bg-black/40 w-[100%] sm:w-[100%] md:w-[50%] h-full flex align-middle backdrop-brightness-125 justify-center items-center;
}
hidden,
.hidden {
  display: none;
}
.force-break {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.__animModal {
  background: transparent !important;
  animation: 0.5s animModalRoot forwards;
  animation-delay: 0.05s;
  backdrop-filter: brightness(0.8);
}
.__animModal2 {
  animation: 0.2s animModal forwards;
  opacity: 0;
}
@keyframes animModalRoot {
  from {
    backdrop-filter: blur(0px) brightness(0.8);
  }
  to {
    backdrop-filter: blur(2px) brightness(0.5);
  }
}
@keyframes animModalRoot-bw {
  to {
    backdrop-filter: blur(0px) brightness(1);
  }
  from {
    backdrop-filter: blur(2px) brightness(0.5);
  }
}
@keyframes animModal {
  from {
    transform: scale(0.9);
    opacity: 0.3;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes animModal-bw {
  to {
    transform: scale(0.9);
    opacity: 0;
  }
  from {
    transform: scale(1);
    opacity: 1;
  }
}

.__animModalEnd {
  background: transparent !important;
  animation: 0.2s animModalRoot-bw forwards;
}
.__animModal2End {
  animation: 0.1s animModal-bw forwards;
  opacity: 0;
}
button.session_collapsed svg {
  transform: rotateZ(0deg);
  transition: all 0.3s;
}
button.session_collapsed {
  transition: all 0.3s;
}
button.session_collapsed:hover {
  padding-left: 16px;
  transition: all 0.3s;
}
button.session_expanded {
  transition: all 0.3s;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
button.session_expanded svg {
  transform: rotateZ(180deg);
  transition: all 0.3s;
}
button.session_expanded:hover {
  padding-right: 16px;
  transition: all 0.3s;
}
div.session_collapsed {
  width: 0px;
  min-width: 0px;
  overflow: clip;
  transition: all 0.3s;
  padding: 0;
  margin: 0;
}
.sessionNav.session_collapsed {
  transition:
    all 0.5s,
    filter 0.35s;
}
.sessionNav.session_collapsed * {
  opacity: 0;
  transition: opacity 0.3s;
}
.sessionNav.session_expanded {
  transition:
    all 0.5s,
    filter 0.35s;
}
div.session_expanded {
  overflow: clip;
  transition: all 0.3s;
  position: relative;
  @apply sm:w-[98vw] md:w-[400px];
}
.sessionNav {
  @apply px-5 sm:px-[64px] md:px-[25px];
  border-radius: 0px;
}

.compression .session_slider {
  max-width: 0px;
  min-width: 0px;
  width: 0px;
  overflow: clip;
  transition: all 0.3s;
  margin: 0;
}
.compression:hover .session_slider {
  min-width: 80px;
  max-width: 140px;
  width: 140px;
  overflow: clip;
  transition: all 0.3s;
  margin: auto;
}
.compression:hover span {
  width: 0px;
  overflow: clip;
  height: 0px;
  transition: all 0.3s;
}
.sessionNav span {
  margin-left: 8px;
  margin-right: 8px;
}
.sessionNavContainer span {
  margin: auto;
  padding-left: 8px;
  padding-right: 8px;
}
.compression {
  @apply text-center py-2.5 align-middle items-center self-center flex flex-row w-full h-fit mb-2 p-2 rounded-md duration-200 bg-slate-900 hover:bg-slate-800 active:bg-slate-900 hover:ring-2 ring-1 px-4 text-subtext1;
}
select,option {@apply rounded-lg p-2 bg-crust/20 flex flex-row duration-300 active:bg-crust active:rounded-b-none focus:bg-crust/50}

.windowsxp {
  @apply latte;
  --ctp-rosewater: 230,139,44;
  --ctp-flamingo: 184,180,163;
  --ctp-pink: 234, 118, 203;
  --ctp-mauve: 0,155,255;
  --ctp-red: 227,92,47;
  --ctp-maroon: 230, 69, 83;
  --ctp-peach: 254, 100, 11;
  --ctp-yellow: 255,204,0;
  --ctp-green: 94,219,94;
  --ctp-teal: 23, 146, 153;
  --ctp-sky: 216,228,248;
  --ctp-sapphire: 122,150,223;
  --ctp-blue: 49,106,197;
  --ctp-lavender: 114, 135, 253;
  --ctp-text: 0,0,0;
  --ctp-base: 216,228,248;
  --ctp-mantle: 206,218,238;
  --ctp-crust: 186,198,218;
  font-family: "Tahoma","Verdana","Arial",sans-serif !important;
}
.font-xp {font-family: "Tahoma","Verdana","Arial",sans-serif !important;}
html.windowsxp, html.windowsxp body {font-family: "Tahoma","Verdana","Arial",sans-serif !important;}
html.windowsxp body {
  background-image: url("assets/bliss.png") !important;
  backdrop-filter: blur(4px) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.windowsxp .card {
  border-radius:6px !important;
  border: 1px solid #003c74 !important;
  background: linear-gradient(180deg,#fff,#ecebe5 86%,#d8d0c4) !important; 
}
.windowsxp nav {
  background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4gMCFwQbjZEbbwAAAFJJREFUCNdVyjsOgCAQhOFhWOg9Edfw6NY2NkihiY8grsUmGosv/xQD9IUpdcwnOIwg1oVtP4irGcA4fvsVrF6MeiIKnYAuht/3rkpUJeaJ2PIDMCMYTcViFPMAAAAASUVORK5CYII=");
  background-size:contain;
}
.windowsxp .settingsBtn {
  border: 1px solid #003c74 !important;
  background: linear-gradient(180deg,#fff,#ecebe5 86%,#d8d0c4) !important; 
  color:black;
  border-radius:6px; padding-top:6px;padding-bottom:6px;
}
.windowsxp .__modalContent {
  background:#e9e8e1 !important;
}
.windowsxp .xpbtn-if-theme {
  border: 1px solid #003c74 !important;
  background: linear-gradient(180deg,#fff,#ecebe5 86%,#d8d0c4) !important; 
  color:black;
  border-radius:6px; padding-top:6px;padding-bottom:6px;
}